body {
    font-family: 'Arial', sans-serif; /* Thay đổi font chữ nếu cần */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex; /* Sử dụng flexbox để chia sẻ không gian giữa sidebar và nội dung chính */
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Màu nền cho container */
    border-radius: 8px;
}

.sidebar {
    width: 250px; /* Chiều rộng cố định cho sidebar */
    background-color: #2c3e50; /* Màu nền cho sidebar */
    color: #ffffff; /* Màu chữ cho sidebar */
    padding: 20px;
    border-radius: 8px 0 0 8px; /* Bo tròn góc trái cho sidebar */
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none; /* Bỏ dấu đầu dòng */
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0; /* Khoảng cách giữa các item */
}

.sidebar ul li a {
    color: #ffffff; /* Màu chữ cho các liên kết */
    text-decoration: none; /* Bỏ gạch chân cho liên kết */
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #18bc9c; /* Màu chữ khi hover */
}

.main-content {
    flex: 1; /* Chiếm phần còn lại không gian của container */
    padding: 20px;
}

h1 {
    margin-bottom: 20px; /* Khoảng cách dưới tiêu đề */
}

form {
    display: flex;
    flex-direction: column; /* Sắp xếp các input theo cột */
}

form div {
    margin-bottom: 15px; /* Khoảng cách giữa các phần tử form */
}

label {
    font-weight: bold; /* Làm đậm chữ label */
}

input[type="text"],
input[type="number"],
textarea,
select {
    padding: 10px;
    border: 1px solid #ccc; /* Viền cho các input */
    border-radius: 4px; /* Bo tròn góc cho input */
    width: 100%; /* Chiếm toàn bộ chiều rộng */
    box-sizing: border-box; /* Bao gồm cả padding và border trong chiều rộng */
}

input[type="file"] {
    border: none; /* Không viền cho file input */
}

button[type="submit"],
button[type="button"] {
    background-color: #3498db; /* Màu nền cho button */
    color: #ffffff; /* Màu chữ cho button */
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer; /* Hiển thị con trỏ tay khi hover */
    transition: background-color 0.3s;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #2980b9; /* Màu nền khi hover */
}

#color-container {
    margin-top: 10px; /* Khoảng cách trên cho container màu */
}
