<h1>Add New Product</h1>
<form th:action="@{/admin/products}" th:object="${product}" method="post" enctype="multipart/form-data">
    <label>Name:</label>
    <input type="text" th:field="*{name}" required/>
    <br/>
    <label>Price:</label>
    <input type="number" th:field="*{price}" required/>
    <br/>
    <label>Qty:</label>
    <input type="number" th:field="*{qty}" required/>
    <br>
    <label>Description:</label>
    <textarea th:field="*{description}"></textarea>
    <br/>
    <label>Images:</label>
    <input type="file" name="images" multiple/>
    <br/>
    <button type="submit">Save</button>
</form>
